<mat-card>
  <img
    mat-card-image
    src="https://material.angular.io/assets/img/examples/shiba2.jpg"
    alt="Photo of a Shiba Inu"
  />

  <mat-card-content>
    <p>
      <strong>
        A dog is a domestic mammal of the family Canidae and the order
        Carnivora.</strong
      >
      Its scientific name is Canis lupus familiaris. Dogs are a subspecies of
      the gray wolf, and they are also related to foxes and jackals. Dogs are
      one of the two most ubiquitous and most popular domestic animals in the
      world.
    </p>
  </mat-card-content>
  <mat-card-actions align="end">
    <button mat-button>Like ❤️</button>
    <button mat-button>share 👍</button>
  </mat-card-actions>
</mat-card>
