<h1>Nova Conta</h1>
<p>
  <label>Email</label>
  <br />
  <input />
</p>
<p>
  <label>CEP</label>
  <br />
  <input [(ngModel)]="cepvalue" (change)="cepAdded()" />
</p>
<p>
  <label>Rua</label>
  <br />
  <input [(ngModel)]="ruavalue" />
</p>
<p>
  <label>Estado</label>
  <br />
  <input [(ngModel)]="ufValue" />
</p>
<p>
  <label>Bairro</label>
  <br />
  <input [(ngModel)]="bairroValue" />
</p>
<p>
  <label>Username</label>
  <br />
  <input />
</p>
<app-create-password />
<p>
  <button>Criar Conta</button>
</p>
